@model MercadoAlpha.Models.Usuarios

@{
    ViewData["Title"] = "Edit";
}

<style>
    body {
        background-color: black;
        font-weight: bold;
    }

    .negrito{
        font-weight: bold;
    }

</style>

<h1 class="col-md-4  offset-3 col-5 text-warning text-nowrap text-center negrito">Editar usuario</h1>
<hr />
<div class="row negrito">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card text-white bg-danger text-center negrito">

            <div class="card-body">
                <form asp-action="Edit">

                    <div class=" bg-danger text-light">

                        <div class="form-group row">
                            <div class="col-6">
                                <label>Login</label>
                                <input asp-for="Login" class="form-control" placeholder="Ex: admin" />
                            </div>
                            <div class="col-6">
                                <label>Senha</label>
                                <input asp-for="Senha" class="form-control" placeholder="Ex: admin" />
                            </div>

                        </div>
                        <div class=" card-footer">
                            <input type="submit" value="Cadastrar" class="btn btn-success negrito" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Consulta Usuario</a>
</div>

