@model MercadoAlpha.Models.Funcionario

@{
    ViewData["Title"] = "Create";
}
<style>
body{
    background-color:black;
     font-weight: bold;
}
.negrito{
        font-weight: bold;
    }
</style>

<h1 class="col-md-4  offset-3 col-5 text-warning text-nowrap">Cadastrar Funcionário</h1>

<hr />


<div class="row negrito">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card text-white bg-danger text-center negrito">

            <div class="card-body">
                <form asp-action="Create">

                    <div class=" bg-danger text-light">

                        <div class="form-group row">
                            <div class="col-6">
                                <label> Nome </label>
                                <input asp-for="nomesocial" class="form-control" placeholder="Ex: João" />
                            </div>
                            <div class="col-6">
                                <label>Cargo</label>
                                <input asp-for="cargo" class="form-control" placeholder="Ex : Gerente " />
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-6">
                                <label>
                                    Data Nascimento
                                </label>
                                <input asp-for="datanasc" class="form-control" placeholder="00/00/0000" />
                            </div>
                            <div class="col-6">
                                <label>
                                    Sexo
                                </label>
                                <input asp-for="sexo" class="form-control" placeholder="M/F" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-6">
                                <label>Endereço</label>
                                <input asp-for="endereco" class="form-control " placeholder="Bairro/Rua/N°" />
                            </div>
                            <div class="col-6">
                                <label>
                                    Telefone
                                    <input asp-for="telefone" class="form-control" placeholder="(16)-996741896" />
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <label>E-mail</label>
                                <input asp-for="email" class="form-control " placeholder="joao@gmail.com" />
                            </div>
                            <div class="col-6">
                                <label>
                                    RG
                                    <input asp-for="rg" class="form-control" placeholder="49503..." />
                                </label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-6">
                                <label>CPF</label>
                                <input asp-for="cpf" class="form-control " placeholder="46520942032" />
                            </div>
                            <div class="col-6">
                                <label>
                                    CEP
                                    <input asp-for="cep" class="form-control" placeholder="15997308" />
                                </label>
                            </div>
                        </div>


                        <div class=" card-footer">
                            <input type="submit" value="Cadastrar" class="btn btn-success negrito" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Ir para a Consulta</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
