@{
    ViewData["Title"] = "Home Page";
}

<img src="/logoalfa.png" width="200" height="150">

<style>
body{
    background-color:black;
     font-weight: bold;
}
.negrito{
        font-weight: bold;
    }
</style>

<div class="text-center">
    <h1 class="display-4 text-warning">Bem-vindo</h1>
    
</div>
