@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/logoalfa.png" width="200" height="150">  <h1 class="display-4 text-warning">Bem-vindo</h1>


<style>
    body {
        background-color: black;
        font-weight: bold;
    }

    .negrito {
        font-weight: bold;
    }
</style>


