<style>
    body {
        background-color: black;
        font-weight: bold;
    }

    .negrito {
        font-weight: bold;
    }
</style>

@if (TempData["erro"] != null)
{
    <div class="alert alert-danger">
        @TempData["erro"]
    </div>
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="card text-white bg-danger m-12 offset-4 col-6 card text-center" style="max-width: 18rem;">
    <div class="card-header">Bem-Vindo</div>
    <div class="card-body">

        <form action="/Login/Entrar" method="post">
            <input type="hidden" name="ReturnUrl" class="form-control" value="@TempData["Url"]" />
            <input type="text" name="login" class="form-control" placeholder="Login" />
            <br />
            <input type="password" name="senha" placeholder="Senha" class="form-control" />
            <div class="card-footer bg-transparent border-danger">
                <button type="submit" class="btn btn-success ">Entrar</button>
            </div>

            <a href="/Usuarios/Create">Esquici a senha.</a>
        </form>

    </div>
</div>

