@model MercadoAlpha.Models.Clientes

@{
    ViewData["Title"] = "Edit";
}

<style>
    body {
        background-color: black;

         font-weight: bold;
    }
    .negrito{
        font-weight: bold;
    }

</style>

<<h1 class="col-md-4  offset-3 col-5 text-warning text-nowrap text-center negrito">Editar Clientes</h1>
<hr />
<div class="row">
     <div class="card text-white bg-danger m-12 offset-4 col-4 card text-center negrito" style="max-width: 18rem;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class=" bg-danger text-light m-20">
               <div class="form-group ">
                        <label>
                            Id
                            <input asp-for="Id" class="form-control mt-3 " placeholder="Un/Litro/Kg..." readonly="readonly" />
                        </label>
                    </div>
                    <div class="form-group ">
                        <label>
                            Nome Social
                            <input asp-for="nomesocial" class="form-control mt-3 " placeholder="Joao" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Data de nascimento
                            <input asp-for="datanascimento" class="form-control mt-3" placeholder="00/00/0000" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Sexo
                            <input asp-for="sexo" class="form-control mt-3" placeholder="Masc/Fem" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Telefone
                            <input asp-for="telefone" class="form-control mt-3" placeholder="(16)3333-1111" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            E-mail
                            <input asp-for="email" class="form-control mt-3" placeholder="joao@gmail.com" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Endereço
                            <input asp-for="endereco" class="form-control mt-3" placeholder="Bairro/Rua/N°" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            CEP
                            <input asp-for="cep" class="form-control mt-3" placeholder="00.000-000" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            CPF
                            <input asp-for="cpf" class="form-control mt-3" placeholder="444.555.666-78" />
                        </label>
                    </div>
                    <div class=" card-footer">
                        <input type="submit" value="Cadastrar" class="btn btn-success negrito" />
                    </div>
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
