@model MercadoAlpha.Models.Produtos

@{
    ViewData["Title"] = "Create";
}

<h1 class="offset-4 col-md-4 " >Create</h1>



<h4 class="offset-4 col-md-4">Produtos</h4>
<hr />
<div class="row">
    <div class="offset-4 col-md-4">a
        <form asp-action="Create" class="border border-dark m-4">daf
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="text" name="Id" class="form-control mt-3" placeholder="Id" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <input asp-for="Descricao" class="form-control mt-3" placeholder="Descrição do produto" />
            </div>
            <div class="form-group"> 
                <input asp-for="UnidadeDeMedida" class="form-control mt-3" placeholder="Unidade de medida"/>
            </div>
            <div class="form-group">
                <input asp-for="DataValidade" class="form-control mt-3"  placeholder="Data de validade"/>
            </div>
            <div class="form-group">
                <input asp-for="QtdEstoque" class="form-control mt-3" placeholder="Quantidade de estoque" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Ir para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
