@model MercadoAlpha.Models.Produtos

@{
    ViewData["Title"] = "Edit";
}

<style>
    body {
        background-color: black;
    }
</style>

<h1 class="col-md-4  offset-3 col-5 text-warning text-nowrap text-center">Editar produtos</h1>

<hr />
<div class="row">
    <div class="card text-white bg-danger m-12 offset-4 col-4 card text-center" style="max-width: 18rem;">
        
        <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class=" bg-danger text-light m-20">
               <div class="form-group ">
                        <label>
                            Id
                            <input asp-for="Id" class="form-control mt-3 " placeholder="Un/Litro/Kg..." readonly="readonly" />
                        </label>
                    </div>
                    <div class="form-group ">
                        <label>
                            Unidade Medida
                            <input asp-for="UnidadeMedida" class="form-control mt-3 " placeholder="Un/Litro/Kg..." />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Marca
                            <input asp-for="Marca" class="form-control mt-3" placeholder="Ex : Sadia " />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Nome
                            <input asp-for="Nome" class="form-control mt-3" placeholder="Ex: Frango" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Código de barra
                            <input asp-for="Codigo" class="form-control mt-3" placeholder="0-000000-000000" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Validade
                            <input asp-for="DataValidade" class="form-control mt-3" placeholder="00/00/0000" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Preço
                            <input asp-for="Preco" class="form-control mt-3" placeholder="Ex : R$25,00" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Qtd Estoque
                            <input asp-for="QtdEstoque" class="form-control mt-3" placeholder=" quantidade em estoque" />
                        </label>
                    </div>
                    <div class=" card-footer">
                        <input type="submit" value="Cadastrar" class="btn btn-success" />
                    </div>
                </div>
        </form>
            </div>
        </div>
    </div>


<div>
    <a asp-action="Index">Consultar produtos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
